#map {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
}

#selectContainer{
    z-index: 1000;
    position: absolute;
    padding: 11px 0;
    left: 50%;
    transform: translateX(-50%);
}

#loader{
    position: fixed;
    background: rgba(255, 255, 255, .95); /* Slight transparent background */
    z-index: 9999;
    display: none;
    padding:100%;
    
}

#weatherCard{
    background-color: rgb(75, 123, 220);
}
