#map {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
}

#overlay {
    display: none;
    height: auto;
    min-height: 10%;
    width: 12%;
    position: absolute;
    z-index: 1000;
    border: 1px solid rgb(26, 24, 24);
    top: 70px;
    left: 85%;
    background-color: lightgrey;
    opacity: 0.75;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: small;
    overflow-y: auto;
}

#infoButtn{
    z-index: 1000;
    top: 110px;
    right: 10px;
    opacity: .7;
}

#weatherButtn{
    z-index: 1000;
    top: 170px;
    right: 10px;
    opacity: .7;
}

#currencyButtn{
    z-index: 1000;
    top: 230px;
    right: 10px;
    opacity: .7;
}

#timeButtn{
    z-index: 1000;
    top: 290px;
    right: 10px;
    opacity: .7;
}

#linkButtn{
    z-index: 1000;
    top: 350px;
    right: 10px;
    opacity: .7;
}