#map {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
}

#infoButtn{
    z-index: 1000;
    top: 110px;
    right: 10px;
    opacity: .7;
}

#weatherButtn{
    z-index: 1000;
    top: 170px;
    right: 10px;
    opacity: .7;
}

#currencyButtn{
    z-index: 1000;
    top: 230px;
    right: 10px;
    opacity: .7;
}

#timeButtn{
    z-index: 1000;
    top: 290px;
    right: 10px;
    opacity: .7;
}

#wikiButtn{
    z-index: 1000;
    top: 350px;
    right: 10px;
    opacity: .7;
}